<!DOCTYPE html>
<html>
<head>
  <title>Threemusketeers</title>
  <link href="/assets/bootstrap/css/bootstrap.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application" %>
  <link href="/assets/bootstraop/css/bootstrap-responsive.css" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
  <%= javascript_include_tag "application" %>
</html>
